h1{
    text-align: center;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.carta{
    background-color: black;
    color: white;
    width: 20rem;
    padding: 10px 5px;
    border-radius: 20px;
}
.imgCard {
    width: 100%;
    border-radius: 20px;
}