
.formulario-hijo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
}
.boton {
    margin: 1rem;
    margin-left: 0%;
    border: none;
    border-bottom: solid black 1px;
    border-right: solid black 1px;
}
.boton:active {
    border: solid black 1px;
}
.caja-talles {
    margin-top: 1rem;
}
